/* .doctorsWrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-bottom: 24px;
} */

.doctorsWrap {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr));
    width: 100%;
    gap: 10px;
    margin-bottom: 24px;
}
